/* Navigation component: .site-nav and its links
   Style the active link using aria-current. */

/* TODO: Style the navigation */
.site-nav{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: stretch;
   background-color: var(--color-primary);
   font-size: var(--font-size-sm);

   li {
      display: flex;
      margin: 0;
   }

   a{
      display: flex;
      align-items: center;
      padding: var(--space-lg);
      color: var(--color-background);
      &:is(:hover, [aria-current="page"]){
         color: var(--color-primary);
         background-color: var(--color-accent);
         text-decoration: none;
      }
   }

   ul{
      display: flex;
      list-style: none;
      align-items: stretch;
   }
}