.articles-page .card-grid {
    display: grid;
    gap: 1rem;
    margin: 2rem;
    align-items: stretch;
    grid-template-rows: auto 1fr;

    @media (min-width: 600px) {
        grid-template-columns: repeat(3, minmax(min(240px, 100%), 1fr));
    }
}

.card {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.75rem;
}

@supports (grid-template-rows: subgrid) {
    .card {
        grid-row: span 2;
        grid-template-rows: subgrid;
    }
}

.card > div:first-child {
    height: 160px;
    background-color: var(--color-surface);
}

.card > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card > div:last-child > a {
    margin-top: auto;
}